#menu_bar {
    border-bottom: #000000;
    font-weight: 200;
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

